<p class="texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, unde assumenda. Saepe velit repellendus suscipit officiis odit, 
    eveniet laudantium debitis nobis harum cupiditate minima quaerat totam. Ipsam repellendus corporis enim?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, delectus ut aliquam sed, quo cupiditate est, nobis laudantium odio 
    similique tenetur! Illum, voluptatibus explicabo quisquam blanditiis perspiciatis autem reprehenderit iste.
</p>
