<div class="contenedor">
    <div class="caja caja-porcentaje">
        <span>{{24 | porcentaje}}</span>
    </div>
    <div class="caja caja-cambio-letras">
        <span>{{'Hola' | cambiarLetras: 'U'}}</span> 
        <span>{{'Hola' | cambiarLetras: 'l'}}</span>
    </div>
    <div class="caja caja-prefijo-sufijo">
        <span>{{'sulf' | prefijoSufijo : 'Hipo' : 'ito'}}</span>
        <span>{{'clorato' | prefijoSufijo : 'Per'}}</span>
    </div>
    <div class="caja caja-presentacion">
        <span>{{'Rafael' | presentacion : 'Argentina' : 39 : 'flan'}}</span>
    </div>
</div>
