.caja{
    display: flex;
    gap: 40px;
    font-size: 2rem;
    align-items: center;
    padding: 10px;
}

.caja-naranja{
    background-color: #fc9801;
    border-radius: 5px;
    padding: 20px;
}

.foto{
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.boton-foto{
    background-color: #9d8028;
    width: 100px;
    height: 20px;
}

.pink-party{
    background-color: #f752f6;
}

.blood-brother{
    background-color: #760410;
    color: white;
}

.boton-color{
    background-color: #d86d1b;
    width: 100px;
    height: 20px;
}