.caja{
    display: flex;
    gap: 40px;
    font-size: 2rem;
    align-items: center;
}

.caja-naranja{
    background-color: #fc9801;
    border-radius: 5px;
    padding: 20px;
}

.foto{
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.boton-foto{
    background-color: #9d8028;
    width: 100px;
    height: 20px;
}